<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
        <title>Test Mail</title>
        <style>
            body {
                padding: 0;
                margin: 0;
                font-family: K2D;
            }
            table {
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>

        <table width="100%" style="width: 100%; height: 100vh;" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="background-image: radial-gradient(circle, #631c30, #56192e, #391b27, #232323); padding: 70px 20px 50px;">

                    <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="background: #333333; border-radius: 64.37px; width: 854px; margin: 0 auto;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="font-size: 55px; color: #ff3061; text-align: center; padding: 75px 0px 0px 0px; font-weight: 700;">Welcome to
                                            <img style="width: 150px;" src="http://13.232.200.98/assets/image/png/logo-1.png"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; color: #fff; padding: 69px 0px 0px 0px; font-size: 26px; font-weight: 600;">Your request to reset password has been approved</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; color: #fff; padding: 22px 0px 0px 0px; font-size: 18px;">Please click
                                            <a href="http://13.232.200.98:8002/v1/artist/setPassword/<%= reset_token %>" style="text-decoration: underline;">here</a>
                                            to go to Test Mail and reset your password.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; color: #fff; font-size: 18px;">You’ll be able to set your password.
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; color: #fff; padding: 84px 0px 0px 0px; font-size: 14px;">Please do not reply to this email</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; color: #fff; padding: 10px 0px 50px 0px; font-size: 14px;font-weight: 700;">© Copyright 2021, Test Mail</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </body>

</html>

